/*
.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(
    3,
    1fr
  );
  grid-template-rows: repeat(
    3,
    1fr
  ); 
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}
*/

.container {
  display: block;
  flex-wrap: wrap; /* Allow cells to wrap to the next line */
  align-items: center;
  justify-content: center;
  gap: 2px; /* Adjust the gap between cells */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  flex: 0 0 calc(33.33% - 2px); /* Set the width of each cell to 1/3 of the container width minus the gap */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
  box-sizing: border-box; /* Include border and padding in the width calculation */
}
